---
import MainLayout from "../../layouts/MainLayout.astro";
import TechStack from "../../components/sections/TechStack.astro";
import Services from "../../components/sections/Services.astro";
import { getEntry } from "astro:content";

const { slug } = Astro.params;

if(slug === undefined) {
  throw new Error('Slug is required');
}

const service = await getEntry('service', slug);

if(service === undefined) {
  return Astro.redirect('/404');
}
---
<MainLayout title={ `Services | ${service?.data.title}` }>
	<main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
            <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
                <div class="row items-center py-5 md:pb-20 md:pt-10">
                    <div class="text-center space-y-10">
                        <h2 class="text-5xl font-medium leading-none md:text-6xl">{service?.data.title}</h2>
                        <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">{service?.data.description}</p>
                        <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="#services" target="_blank">
                            <h2 class="text-center text-xl font-normal leading-7">Explore our expertise</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <TechStack stack={['keras', 'python', 'tensorflow']} />
        <Services />
	</main>
</MainLayout>