---
let { isUnderline, rounded } = Astro.props;
rounded = rounded || "rounded-[45px]";
---

{
  isUnderline ? (
    <div class={`${rounded} border border-dark shadow-[0px_5px_0px_#191a23] hover:scale-105 duration-200 ease-in-out overflow-hidden`}>
      <slot />
    </div>
  ) : (
    <div class={`${rounded}`}>
      <slot />
    </div>
  )
}
